<!DOCTYPE html>
<html>

<head>
    <title>Angularjs Performance Test</title>
    <script src="//cdn.bootcss.com/angular.js/1.4.5/angular.min.js"></script>
</head>

<body ng-app="testApp">
    <div ng-controller="testCtrl">
        <h2>Angularjs</h2>
        <label>Repeat Count:</label>
        <input type="text" ng-model="rowNum">
        <button ng-click="render()" id="renderBtn">Render</button>
        <button ng-click="reset()">Reset</button>
        <br/>
        <label>Total Binding Objects:</label>
        <em>{{total}}</em>
        <br/>
        <label>Time:</label><em id="timer">0</em> ms
        <ol id="mainOL">
            <h3>previous dom</h3>
            <li ng-repeat="item in items">
                <div>
                    <label>{{item.field0}}</label>
                    <input type="text" ng-model="item.field0" style="width:80px">
                    <label>{{item.field1}}</label>
                    <input type="text" ng-model="item.field1" style="width:80px">
                    <label>{{item.field2}}</label>
                    <input type="text" ng-model="item.field2" style="width:80px">
                    <label>{{item.field3}}</label>
                    <input type="text" ng-model="item.field3" style="width:80px">
                    <label>{{item.field4}}</label>
                    <input type="text" ng-model="item.field4" style="width:80px">
                    <label>{{item.field5}}</label>
                    <input type="text" ng-model="item.field5" style="width:80px">
                    <label>{{item.field6}}</label>
                    <input type="text" ng-model="item.field6" style="width:80px">
                    <label>{{item.field7}}</label>
                    <input type="text" ng-model="item.field7" style="width:80px">
                    <label>{{item.field8}}</label>
                    <input type="text" ng-model="item.field8" style="width:80px">
                    <label>{{item.field9}}</label>
                    <input type="text" ng-model="item.field9" style="width:80px">
                </div>
            </li>
            <h3>next dom</h3>
        </ol>
    </div>
</body>
<script>
    var app = angular.module('testApp', []);
    app.controller('testCtrl', ['$scope', function ($scope) {
        $scope.rowNum = 0;
        $scope.items = [];
        $scope.total = 0;
        $scope.reset = function () {
            $scope.items = 0;
            $scope.rowNum = 0;
            $scope.total = 0;
            timer_em.innerHTML = 0;
        };
        $scope.render = function () {
            $scope.items = [];
            var rowLen = $scope.rowNum;
            var columnLen = 10;
            for (var i = 0; i < rowLen; i++) {
                var item = {};
                for (var j = 0; j < columnLen; j++) {
                    item["field" + j] = "testing " + (i * 10 + j);
                }
                $scope.items.push(item);
            }
            $scope.total = rowLen * columnLen * 2;
            calulateTime(rowLen);
        };
    }]);
    
    var timer_em = document.getElementById("timer");
    var mainOL = document.getElementById("mainOL");
    var interval = 50;
    var timer;



    function calulateTime(rowLen) {
        var startTime = new Date().getTime();
        timer = setInterval(function () {
            if (checkIsRenderOver(rowLen)) {
                var endTime = new Date().getTime();
                var runTime = endTime - startTime;
                timer_em.innerHTML = runTime;
                clearInterval(timer);
            }
        }, interval);
    }

    function checkIsRenderOver(rowLen) {
        if (mainOL.children.length > rowLen) {
            return true;
        }
        return false;
    }
</script>

</html>