<h3>{{res.getResource('LABEL_EXAMPLE_03')}}</h3>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#demo3" aria-controls="demo3" role="tab" data-toggle="tab">Demo</a>
	</li>
	<li role="presentation">
		<a href="#html3" aria-controls="html3" role="tab" data-toggle="tab">Html</a>
	</li>
	<li role="presentation">
		<a href="#js3" aria-controls="js3" role="tab" data-toggle="tab">JavaScript</a>
	</li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="demo3" style="margin: 20px">
		<button class="btn btn-default" uku-onclick="ex03Ctrl.sayHello()">
			Click Me
		</button>
		<button class="btn btn-primary" uku-onclick="ex03Ctrl.sayHelloWithString('hello')">
			Click Me with String
		</button>
		<button class="btn btn-success" uku-onclick="ex03Ctrl.sayHelloWithArgument(ex03Ctrl.myName)">
			Click Me with argument
		</button>
	</div>
	<div role="tabpanel" class="tab-pane" id="html3" style="margin: 20px">
		<pre>
			<code class="html">
&lt;button uku-onclick="ex03Ctrl.sayHello()"&gt;
	Click Me
&lt;/button&gt;
&lt;button uku-onclick="ex03Ctrl.sayHelloWithString('hello')"&gt;
	Click Me with String
&lt;/button&gt;
&lt;button uku-onclick="ex03Ctrl.sayHelloWithArgument(ex03Ctrl.myName)"&gt;
	Click Me with argument
&lt;/button&gt;
			</code>		    		
		</pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="js3" style="margin: 20px">
		<pre>
			<code class="javascript">
function Example03Ctrl() {
	this.myName = "ukulelejs";
	this.sayHello = function() {
		alert(this.myName);
	};
	this.sayHelloWithString = function(str) {
		alert(str);
	};
	this.sayHelloWithArgument = function(name) {
		alert("Hi," + name);
	};
}
			</code>		    		
		</pre>
	</div>
</div>