<h3>{{res.getResource('LABEL_EXAMPLE_10')}}</h3>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#demo10" aria-controls="demo10" role="tab" data-toggle="tab">Demo</a>
	</li>
	<li role="presentation">
		<a href="#html10" aria-controls="html10" role="tab" data-toggle="tab">Html</a>
	</li>
	<li role="presentation">
		<a href="#js10" aria-controls="js10" role="tab" data-toggle="tab">JavaScript</a>
	</li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="demo10" style="margin: 20px">
		<select class="form-control" style="width:30%" uku-selected="ex10Ctrl.selectedOption|value" uku-onchange="ex10Ctrl.selectedOptionChanged()">
		  <option uku-repeat="option in ex10Ctrl.options"
		  			uku-value="option.value" uku-data-item="option">{{option.name}}</option>
		</select>
        <br/>
		<select class="form-control" style="width:30%" uku-selected="ex10Ctrl.selectedChildOption|name">
		  <option uku-repeat="child in ex10Ctrl.selectedOption.children"
		  			uku-value="child.name" uku-data-item="child">{{child.name}}</option>
		</select>
        <br/>
		<label>{{ex10Ctrl.selectedOption.name}}</label>  <label>{{ex10Ctrl.selectedChildOption.name}}</label>
	</div>
	<div role="tabpanel" class="tab-pane" id="html10" style="margin: 20px">
		<pre>
			<code class="html">
&lt;select uku-selected="ex10Ctrl.selectedOption|value" uku-onchange="ex10Ctrl.selectedOptionChanged()"&gt;
  &lt;option uku-repeat="option in ex10Ctrl.options"
  			uku-value="option.value" uku-data-item="option">{{option.name}}&lt;/option&gt;
&lt;/select>	
&lt;select uku-selected="ex10Ctrl.selectedChildOption|name"&gt;
  &lt;option uku-repeat="child in ex10Ctrl.selectedOption.children"
  			uku-value="child.name" uku-data-item="child">{{child.name}}&lt;/option&gt;
&lt;/select>
&lt;label>{{ex10Ctrl.selectedOption.name}}&lt;/label&gt;
&lt;label>{{ex10Ctrl.selectedChildOption.name}}&lt;/label&gt;
			</code>		    		
		</pre>
	</div>

	<div role="tabpanel" class="tab-pane" id="js10" style="margin: 20px">
		<pre>
			<code class="javascript">
function Example10Ctrl() {		 
	this.options = [
		{"name":"Kamaka","value":"kamaka","children":[
			{"name":"HF1"},{"name":"HF2"},{"name":"HF3"}
		]},
		{"name":"Koaloha","value":"koaloha","children":[
			{"name":"KSM"},{"name":"KCM"},{"name":"KTM"}
		]},
		{"name":"Kanilea","value":"kanilea","children":[
			{"name":"K1S"},{"name":"K2C"},{"name":"K1T"}
		]},
		{"name":"Koolau ","value":"koolau","children":[
			{"name":"CS Tenor"},{"name":"Model 100"},{"name":"Tenor Deluxe"}
		]}
	];
	this.selectedOption = this.options[2];
	this.selectedChildOption = this.selectedOption.children[0];
	
	this.selectedOptionChanged = function(){
		this.selectedChildOption = this.selectedOption.children[0];	
		uku.refresh();
	};
}
			</code>		    		
		</pre>
	</div>
</div>