<h3>{{res.getResource('LABEL_EXAMPLE_07')}}</h3>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#demo7" aria-controls="demo7" role="tab" data-toggle="tab">Demo</a>
	</li>
	<li role="presentation">
		<a href="#html7" aria-controls="html7" role="tab" data-toggle="tab">Html</a>
	</li>
	<li role="presentation">
		<a href="#html_subview" aria-controls="html_subview" role="tab" data-toggle="tab">Subview.html</a>
	</li>
	<li role="presentation">
		<a href="#js7" aria-controls="js7" role="tab" data-toggle="tab">JavaScript</a>
	</li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="demo7" style="margin: 20px">
        <div class="uku-include" src="pages/example/components/subview.html" replace-controller="ex07Ctrl|otherCtrl"></div>
        <br/>
        <div class="uku-include" src="pages/example/components/subview.html" replace="true" uku-onload="ex07Ctrl.onInclueElementLoaded()"></div>
	</div>
	<div role="tabpanel" class="tab-pane" id="html7" style="margin: 20px">
		<pre>
			<code class="html">
&lt;div class="uku-include" replace-controller="ex07Ctrl|otherCtrl" src="pages/example/components/subview.html"&gt;&lt;/div&gt;
&lt;div class="uku-include" src="pages/example/components/subview.html" replace="true" uku-onload="ex07Ctrl.onInclueElementLoaded()"&gt;&lt;/div&gt;
			</code>		    		
		</pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="html_subview" style="margin: 20px">
		<pre>
			<code class="html">
&lt;button&gt;{{ex07Ctrl.myName}}&lt;/button&gt;
			</code>		    		
		</pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="js7" style="margin: 20px">
		<pre>
			<code class="javascript">
function Example07Ctrl() {
    this.myName = "ukulelejs";
    this.onInclueElementLoaded = function(e){
        var myBtn = document.getElementById("myBtn");
        myBtn.style.fontSize = "14pt";
    };
}
function OtherCtrl() {
	this.myName = "name from OtherCtrl";
}
			</code>		    		
		</pre>
	</div>
</div>