<h3>{{res.getResource('LABEL_EXAMPLE_06')}}</h3>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#demo6" aria-controls="demo6" role="tab" data-toggle="tab">Demo</a>
    </li>
    <li role="presentation">
        <a href="#html6" aria-controls="html6" role="tab" data-toggle="tab">Html</a>
    </li>
    <li role="presentation">
        <a href="#js6" aria-controls="js6" role="tab" data-toggle="tab">JavaScript</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="demo6" style="margin: 20px">
        <p>
            {{ex06Ctrl.add(ex06Ctrl.numA,ex06Ctrl.numB)}}
        </p>
        <p>
            {{ex06Ctrl.showInfo(ex06Ctrl)}}
        </p>
        <p>
            {{ex06Ctrl.showString('hello, ukulelejs')}}
        </p>

    </div>
    <div role="tabpanel" class="tab-pane" id="html6" style="margin: 20px">
        <pre>
			<code class="html">
&lt;p&gt;
	{{ex06Ctrl.add(ex06Ctrl.numA,ex06Ctrl.numB)}}
&lt;/p&gt;
&lt;p&gt;
	{{ex06Ctrl.showInfo(ex06Ctrl)}}
&lt;/p&gt;
&lt;p&gt;
	{{ex06Ctrl.showString("aaa")}}
&lt;/p&gt;
			</code>		    		
		</pre>
    </div>
    <div role="tabpanel" class="tab-pane" id="js6" style="margin: 20px">
        <pre>
			<code class="javascript">
function Example06Ctrl() {
	this.numA = 2;
	this.numB = 3;
	this.add = function(num1, num2) {
		var sum = num1 + num2;
		return sum;
	};
	
	
	this.showInfo = function(object) {
		return object.myName;	
	};
    
    this.showString = function (str) {
        return str;
    };
}
			</code>		    		
		</pre>
    </div>
</div>