<h3>{{res.getResource('LABEL_EXAMPLE_02')}}</h3>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#demo2" aria-controls="demo2" role="tab" data-toggle="tab">Demo</a>
	</li>
	<li role="presentation">
		<a href="#html2" aria-controls="html2" role="tab" data-toggle="tab">Html</a>
	</li>
	<li role="presentation">
		<a href="#js2" aria-controls="js2" role="tab" data-toggle="tab">JavaScript</a>
	</li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="demo2" style="margin: 20px">
		<input type="text" placeholder="please input your name" uku-value="ex02Ctrl.yourName" class="form-control" style="width:30%">
        <br/>
		<p>
			{{ex02Ctrl.yourName}}
		</p>
	</div>
	<div role="tabpanel" class="tab-pane" id="html2" style="margin: 20px">
		<pre>
			<code class="html">
&lt;input type="text" placeholder="please input your name" uku-value="ex02Ctrl.yourName"&gt;
&lt;p&gt;
	{{ex02Ctrl.yourName}}
&lt;/p&gt;
			</code>		    		
		</pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="js2" style="margin: 20px">
		<pre>
			<code class="javascript">
function Example02Ctrl() {
	this.yourName = "please input your name";
}
			</code>		    		
		</pre>
	</div>
</div>