body {
    overflow-x: hidden;
    font-family: "微软雅黑";
    /*visibility: hidden;*/
}

.languageSelect {
    margin: 10px;
    position: absolute;
    top: 5px;
    left: 10px;
}

.clear {
    clear: both;
}

.tabContent {
    margin: 20px 0px 20px 20px;
}

.dropdown_menu_right {
    left: auto !important;
    right: 0;
}

.hljs {
    background: transparent;
    !important
}

#tabbar {
    width: 100%;
    height: 60px;
    background: #009999;
    margin: 0 auto;
}

ul.ukuNav {
    width: 100%;
    height: 60px;
    background: #009999;
    margin: 0 auto
}

ul.ukuNav li {
    display: inline;
    height: 60px
}

ul.ukuNav li a {
    display: inline-block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    color: #FFF;
    /*font-family: "\5FAE\8F6F\96C5\9ED1";*/
    font-size: 16px
}

ul.ukuNav li a:hover {
    background: #1D7373
}

.content {
    background: #ecf0f1
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 48pt;
    color: #006363;
}

.spinner {
    margin: 100px auto;
    width: 32px;
    height: 32px;
    position: relative;
}

.cube1,
.cube2 {
    background-color: #009999;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.blur {
    filter: url(blur.svg#blur);
    /* FireFox, Chrome, Opera */
    -webkit-filter: blur(5px);
    /* Chrome, Opera */
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.loadingBar {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    z-index: 999;
}

.loadingBar label{
    position: relative;
    bottom: -80px;
}