body{
    overflow-x: hidden;
    display:none;
}

.toolbar{
    float:right;
    margin-right:20px;
}

.languageSelect{
    float:left;
    margin:10px;
}

.clear{
    clear:both;
}

.tabContent{
    margin: 20px 0px 20px 20px;
}
.dropdown_menu_right{
    left: auto !important;
    right: 0;
}



@media screen and (max-width:624px){
    #tabbar > li:nth-child(1){
        display: none;
    }
    #tabbar > li:nth-child(2){
        display: none;
    }
    #tabbar > li:nth-child(3){
        display: none;
    }
    #tabbar > li:nth-child(4){
        display: none;
    }
    #tabbar > li:nth-child(5){
        display: none;
    }
    
    #tabbar > li.dropdown{
        display:block;
    }
}

@media screen and (min-width:624px){
    #tabbar > li:nth-child(1){
        display: block;
    }
    #tabbar > li:nth-child(2){
        display: block;
    }
    #tabbar > li:nth-child(3){
        display: block;
    }
    #tabbar > li:nth-child(4){
        display: block;
    }
    #tabbar > li:nth-child(5){
        display: block;
    }
    
    #tabbar > li.dropdown{
        display: none;
    }
}