body {
    overflow-x: hidden;
    display: none;
    font-family: "微软雅黑"
}


.languageSelect {
    margin: 10px;
    position: absolute;
    top:5px;
    left: 10px;
}

.clear {
    clear: both;
}

.tabContent {
    margin: 20px 0px 20px 20px;
}

.dropdown_menu_right {
    left: auto !important;
    right: 0;
}


.hljs {
    background: transparent;
    !important
}

#tabbar{
    width: 100%;
    height: 60px;
    background: #009999;
    margin: 0 auto;
}

ul.ukuNav {
    width: 100%;
    height: 60px;
    background: #009999;
    margin: 0 auto
}

ul.ukuNav li {
    display: inline;
    height: 60px
}

ul.ukuNav li a {
    display: inline-block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    color: #FFF;
    /*font-family: "\5FAE\8F6F\96C5\9ED1";*/
    font-size: 16px
}

ul.ukuNav li a:hover {
    background: #1D7373
}
.content{
    background: #ecf0f1
}
.logo{
    position: absolute;
    top:30px;
    left: 30px;
    font-size: 48pt;
    color: #006363;
}