<div class="container">
    <div class="input-group date form_date col-md-5" uku-data-date="myCtrl.initialDate" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
        <input class="form-control" size="16" type="text" uku-value="myCtrl.initialDate" readonly>
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    <h4>You choose: </h4>
    <h4>{{myCtrl.initialDate}}</h4>
</div>