<h3>{{res.getResource('LABEL_EXAMPLE_06')}}</h3>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#demo6" aria-controls="demo6" role="tab" data-toggle="tab">Demo</a>
	</li>
	<li role="presentation">
		<a href="#html6" aria-controls="html6" role="tab" data-toggle="tab">Html</a>
	</li>
	<li role="presentation">
		<a href="#js6" aria-controls="js6" role="tab" data-toggle="tab">JavaScript</a>
	</li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="demo6" style="margin: 20px">
		<p>
			{{myCtrl.add(myCtrl.numA,myCtrl.numB)}}
		</p>
	</div>
	<div role="tabpanel" class="tab-pane" id="html6" style="margin: 20px">
		<pre>
			<code class="html">
&lt;p&gt;
	{{myCtrl.add(myCtrl.numA,myCtrl.numB)}}
&lt;/p&gt;
			</code>		    		
		</pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="js6" style="margin: 20px">
		<pre>
			<code class="javascript">
function MyController() {
	this.add = function(num1, num2) {
		var sum = num1 + num2;
		return sum;
	};
	this.numB = 3;
}
			</code>		    		
		</pre>
	</div>
</div>