<h3>{{res.getResource('LABEL_PREPARATION')}}</h3>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation">
		<a href="#package" aria-controls="package" role="tab" data-toggle="tab">Import Package</a>
	</li>
	<li role="presentation">
		<a href="#html0" aria-controls="html0" role="tab" data-toggle="tab">Html</a>
	</li>
	<li role="presentation">
		<a href="#js0" aria-controls="js0" role="tab" data-toggle="tab">JavaScript</a>
	</li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="package" style="margin: 20px">
		<pre>
				<code class="html">
&lt;script type="text/javascript" src="ukulelejs/dist/ukulele.min.js"&gt;&lt;/script&gt;			
				</code>		    		
		    </pre>
	</div>
		<div role="tabpanel" class="tab-pane" id="html0" style="margin: 20px">
		<pre>
				<code class="html">
&lt;body uku-application&gt;
	...
&lt;/body&gt;		
				</code>		    		
		    </pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="js0" style="margin: 20px">
		<pre>
    			<code class="html js">
&lt;body&gt;
...
&lt;/body&gt;            
&lt;script&gt;
...
$(document).ready(function() {
	var uku = new Ukulele();
	uku.registerController("myCtrl", new MyController());
	uku.init();
});
function MyController() {
	this.message = "";
	...
}
...
&lt;/script&gt;
				</code>		    		
    		</pre>
	</div>
</div>