<h3>example 04:Usage of Repeat renderer</h3>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#demo4" aria-controls="demo4" role="tab" data-toggle="tab">Demo</a>
	</li>
	<li role="presentation">
		<a href="#html4" aria-controls="html4" role="tab" data-toggle="tab">Html</a>
	</li>
	<li role="presentation">
		<a href="#js4" aria-controls="js4" role="tab" data-toggle="tab">JavaScript</a>
	</li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="demo4" style="margin: 20px">
		<ul>
			<li uku-repeat="item in myCtrl.items">
				<a style="cursor:pointer" uku-onclick="parent.myCtrl.sayHelloWith2Argument(parent.myCtrl.myName,item.name)">
					{{item.name}}
				</a>
				<img uku-src="item.imgUrl" style="cursor:pointer"uku-onclick="parent.myCtrl.sayHelloWithInstanceArgument(item)"/>
				<ul>
					<li uku-repeat="sub in item.subModels">{{sub.name}}</li>
				</ul>
			</li>
		</ul>
	</div>
	<div role="tabpanel" class="tab-pane" id="html4" style="margin: 20px">
		<pre>
			<code class="html">
&lt;ul&gt;
	&lt;li uku-repeat="item in myCtrl.items"&gt;
		{{item.name}}
		&lt;button uku-onclick="parent.myCtrl.sayHelloWith2Argument(parent.myCtrl.myName,item.name)"&gt;
			{{item.name}}
		&lt;/button>
		&lt;button uku-onclick="parent.myCtrl.sayHelloWithInstanceArgument(item)"&gt;
			{{item.name}}
		&lt;/button&gt;
	&lt;/li&gt;
&lt;/ul&gt;
			</code>		    		
		</pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="js4" style="margin: 20px">
		<pre>
			<code class="javascript">
function MyController() {	
	this.myName = "please input your name";		
	this.items = [
	{
		"name" : "Kamaka HF-1",
		"imgUrl": "example/images/hf1.jpg",
		"subModels" : [{"name" : "HF-1 basical version"},{"name" : "HF-1 with pickup"}]
	}, {
		"name" : "Kamaka HF-2",
		"imgUrl": "example/images/hf2.jpg",
		"subModels" : [{"name" : "HF-2 basical version"},{"name" : "HF-2 with pickup"}]
	}, {
		"name" : "Kamaka HF-3",
		"imgUrl": "example/images/hf3.jpg",
		"subModels" : [{"name" : "HF-3 basical version"},{"name" : "HF-3 with pickup"}]
	}];
	this.sayHelloWithInstanceArgument = function(instance) {
		alert("Hi," + instance.name);
	};

	this.sayHelloWith2Argument = function(name, name2) {
		alert("Hi," + name + " and " + name2);
	};
}
			</code>		    		
		</pre>
	</div>
</div>