<h3>{{res.getResource('LABEL_EXAMPLE_13')}}</h3>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#demo13" aria-controls="demo13" role="tab" data-toggle="tab">Demo</a>
	</li>
	<li role="presentation">
		<a href="#html13" aria-controls="html13" role="tab" data-toggle="tab">Html</a>
	</li>
	<li role="presentation">
		<a href="#js13" aria-controls="js13" role="tab" data-toggle="tab">JavaScript</a>
	</li>
</ul>
<div class="tab-content">
    <style>
        td{
            vertical-align:middle !important;
        }
    </style>
	<div role="tabpanel" class="tab-pane active" id="demo13" style="margin: 20px">
		<table class="table table-bordered">
            <thead>
                <tr>
                    <th>Area</td>
                    <th>Country</td>
                    <th>City</td>
                    <th>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr uku-repeat="city in myCtrl.cities">
                    <td uku-rowspan="parent.myCtrl.setRowSpan(city,'area')" uku-style="parent.myCtrl.setRowStyle(city,'area')">{{city.area}}</td>
                    <td uku-rowspan="parent.myCtrl.setRowSpan(city,'country')" uku-style="parent.myCtrl.setRowStyle(city,'country')">{{city.country}}</td>
                    <td>{{city.city}}</td>
                    <td>{{city.total}}</td>
                </tr>
            </tbody>
        </table>     
	</div>
	<div role="tabpanel" class="tab-pane" id="html13" style="margin: 20px">
		<pre>
			<code class="html">
&lt;table class="table table-bordered"&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Area&lt;/td&gt; 
            &lt;th&gt;Country&lt;/td&gt;
            &lt;th&gt;City&lt;/td&gt;
            &lt;th&gt;Total&lt;/td&gt;
        &lt;/tr>
    &lt;/thead>
    &lt;tbody>
        &lt;tr uku-repeat="city in myCtrl.cities"&gt;
            &lt;td uku-rowspan="parent.myCtrl.setRowSpan(city,'area')" uku-style="parent.myCtrl.setRowStyle(city,'area')"&gt;{{city.area}}&lt;/td&gt;
            &lt;td uku-rowspan="parent.myCtrl.setRowSpan(city,'country')" uku-style="parent.myCtrl.setRowStyle(city,'country')"&gt;{{city.country}}&lt;/td>
            &lt;td&gt;{{city.city}}&lt;/td&gt;
            &lt;td&gt;{{city.total}}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
			</code>
		</pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="js13" style="margin: 20px">
		<pre>
			<code class="javascript">
function MyController() {
    var citiesSpanPool = {};
    this.setRowSpan = function(rowItem,field){         
        if(!citiesSpanPool[rowItem[field]]){  
            var rowCount = 0;
            for(var i=0;i&lt;this.cities.length;i++){
                var item = this.cities[i];
                if(rowItem[field] === item[field]){
                    rowCount++;
                }
            } 
            citiesSpanPool[rowItem[field]] = rowCount;
            return citiesSpanPool[rowItem[field]];
        }
        else{
            return 1;
        }

    };
    var citiesStylePool = {};
    this.setRowStyle = function(rowItem,field){
        if(!citiesStylePool[rowItem[field]]){  
            for(var i=0;i&lt;this.cities.length;i++){
                var item = this.cities[i];
                if(rowItem[field] === item[field]){
                    citiesStylePool[rowItem[field]] = true;
                    break;
                }
            }       
            return "";
        }
        else{
            return "display:none";
        }
    };

    this.cities = [{
        'area':'Asia',
        'country': 'China',
        'city': 'Shanghai',
        'total': 100
    }, {
        'area':'Asia',
        'country': 'China',
        'city': 'Beijing',
        'total': 200
    }, {
        'area':'Asia',
        'country': 'Japan',
        'city': 'Tokyo',
        'total': 300
    }, {
        'area':'Asia',
        'country': 'Japan',
        'city': 'Yokohama',
        'total': 400
    }];
}
			</code>		    		
		</pre>
	</div>
</div>