<h3>{{res.getResource('LABEL_EXAMPLE_14')}}</h3>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#demo14" aria-controls="demo14" role="tab" data-toggle="tab">Demo</a>
	</li>
	<li role="presentation">
		<a href="#html14" aria-controls="html14" role="tab" data-toggle="tab">Html</a>
	</li>
    <li role="presentation">
		<a href="#html_subview2" aria-controls="html_subview2" role="tab" data-toggle="tab">datetimepicker.html</a>
	</li>
	<li role="presentation">
		<a href="#js14" aria-controls="js14" role="tab" data-toggle="tab">JavaScript</a>
	</li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="demo14" style="margin: 20px">
        <B>Plugin (bootstrap-datetimepicker):  </B><a target="_blank" href="https://github.com/smalot/bootstrap-datetimepicker" >https://github.com/smalot/bootstrap-datetimepicker</a>
        <p>{{res.getResource('LABEL_EXAMPLE_14_DESCRIPTION')}}</p>
        <div class="uku-include" src="example/components/datetimepicker.html" replace="true" 
             uku-onload="myCtrl.onDatetimepickerCompleted()"></div>
	</div>
	<div role="tabpanel" class="tab-pane" id="html14" style="margin: 20px">
		<pre>
			<code class="html">
&lt;div class="uku-include" src="example/components/datetimepicker.html" replace="true" uku-onload="myCtrl.onDatetimepickerCompleted()"&gt;&lt;/div&gt;
			</code>
		</pre>
	</div>
    <div role="tabpanel" class="tab-pane" id="html_subview2" style="margin: 20px">
		<pre>
			<code class="html">
&lt;div class="container"&gt;
    &lt;div class="form-group">
        &lt;div class="input-group date form_date col-md-5" uku-data-date="myCtrl.initialDate" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd"&gt;
            &lt;input class="form-control" size="16" type="text" uku-value="myCtrl.initialDate" readonly&gt;
            &lt;span class="input-group-addon"&gt;&lt;span class="glyphicon glyphicon-remove"&gt&lt;/span&gt;&lt;/span&gt;
            &lt;span class="input-group-addon"&gt;&lt;span class="glyphicon glyphicon-calendar"&gt&lt;/span&gt;&lt;/span&gt;
        &lt;/div&gt;
        &lt;h4>You choose: &lt;/h4&gt;&lt;h4&gt;{{myCtrl.initialDate}}&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
			</code>		    		
		</pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="js14" style="margin: 20px">
		<pre>
			<code class="javascript">
function MyController() {
    this.onDatetimepickerCompleted = function (e) {
        var self = this;
        var $picker = $('.form_date').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        }).on("changeDate", function (ev) {

            self.initialDate = moment(ev.date).format("YYYY-MM-DD");
            uku.refresh('myCtrl');
        });
    };

    this.initialDate = "2011-05-06";
}
			</code>		    		
		</pre>
	</div>
</div>