<h3>{{res.getResource('LABEL_EXAMPLE_07')}}</h3>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#demo7" aria-controls="demo7" role="tab" data-toggle="tab">Demo</a>
	</li>
	<li role="presentation">
		<a href="#html7" aria-controls="html7" role="tab" data-toggle="tab">Html</a>
	</li>
	<li role="presentation">
		<a href="#html_subview" aria-controls="html_subview" role="tab" data-toggle="tab">Subview.html</a>
	</li>
	<li role="presentation">
		<a href="#js7" aria-controls="js7" role="tab" data-toggle="tab">JavaScript</a>
	</li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="demo7" style="margin: 20px">
		<div class="uku-include" src="example/components/subview.html" replace-controller="myCtrl|myCtrl2">
			
		</div>
        <div class="uku-include" src="example/components/subview.html" replace="true">
			
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="html7" style="margin: 20px">
		<pre>
			<code class="html">
&lt;div class="uku-include" replace-controller="myCtrl|myCtrl2" src="components/subview.html"&gt;&lt;/div&gt;
&lt;div class="uku-include" src="components/subview.html" replace="true"&gt;&lt;/div&gt;
			</code>		    		
		</pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="html_subview" style="margin: 20px">
		<pre>
			<code class="html">
&lt;button&gt;{{myCtrl.myName}}&lt;/button&gt;
			</code>		    		
		</pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="js7" style="margin: 20px">
		<pre>
			<code class="javascript">
function MyController() {
	this.myName = "please input your name";
}
function MyController2() {
	this.myName = "name from MyController2";
}
			</code>		    		
		</pre>
	</div>
</div>