<uku-component>
    <template>
        <div>
            <!-- <h3 uku-text="cc.user.username"></h3>
            <ul>
                <li uku-repeat="option in cc.options">{{option.name}}</li>
            </ul>
            <h3 uku-text="cc.getFuncLabel(cc.name)"></h3> -->
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th uku-repeat="user in cc.users">{{user.name}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </template>
    <script>
        (function(){
            return function(uku){
                this._initialized = function(cc){
                    console.log(cc);
                };
                this.getFuncLabel = function(_name){
                    return _name + "aaa";
                }
                this.name = "xiao hong";
                this.users = [{"name":"momoko"},{"name":"sakura"}];
                Object.defineProperty(this, "opts", {
                    set: function (value) {
                        if(value){
                            this.options = value;
                        }
                    }
                });
                Object.defineProperty(this, "loginUser", {
                    set: function( value){
                        if(value){
                            this.user = value;
                        }
                    }
                });
            };
        })();
    </script>
</uku-component>·