<uku-component>
    <style>
        button{
            color:red;
        }
        p{
            color:yellow;
        }
    </style>
    <template>
        <div>
            <button>{{cc.buttonName}}</button>
            <input type="text" uku-value="cc.message"/>
            <p>
                {{cc.message}}
            </p>
            <button uku-visible="cc.showBtn">Add</button>
            <br/>
            <button uku-render="cc.showBtn">Edit</button>
            <button uku-onclick="cc.toggleShowHide()">Show/Hide</button>
        </div>
    </template>
    <script>
        (function(){
            return function(uku){
                this.message = "this is a component";
                this.buttonName = "component button";
                this.show = function(){
                    alert('success');
                };
                this.showBtn = false;
                this.toggleShowHide = function(){
                    this.showBtn = !this.showBtn;
                };
            };
        })();
    </script>
</uku-component>
