<ul class="ukuNav">
    <li style="float:right">
        <a href="#about">{{res.getResource('TAB_ABOUT')}}</a>
    </li>
    <li style="float:right">
        <a href="#api">{{res.getResource('TAB_API')}}</a>
    </li>
    <li style="float:right">
        <a href="#performance">{{res.getResource('TAB_PERFORMANCE')}}</a>
    </li>
    <li style="float:right">
        <a href="#example">{{res.getResource('TAB_EXAMPLE')}}</a>
    </li>
    <li style="float:right">
        <a href="#home">{{res.getResource('TAB_HOME')}}</a>
    </li>
</ul>